@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Resetar chave do authenticator";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Se você resetar sua chave do autenticador, o app não irá funcionar até ser reconfigurado.</strong>
    </p>
    <p>
        Este processo desativa o 2FA até você verificar seu app autenticador.
        Se você não completar a configuração do autenticador, poderá perder sua conta.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Resetar chave do autenticador</button>
    </form>
</div>
