@model MasterChef.UI.Models.RecipeModel


<form asp-controller="Recipe" asp-action="Excluir" method="post">

    <div class="modal" tabindex="-1" id="modalExcluir">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deseja remover esse item?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="idNome"></p>
                    <input asp-for="@Model.Id" type="hidden" id="hdIdExcluir" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger" value="Excluir" />
                </div>
            </div>
        </div>
    </div>

</form>

