@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmaçñao da senha resetada";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sua senha foi resetada. Por favor <a asp-page="./Login">clique aqui para logar</a>.
</p>
