<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.masterchefe.mobile" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="32" android:targetSdkVersion="32" />
	<application android:label="MasterChefe.Mobile.Android" android:theme="@style/MainTheme"></application>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
</manifest>